#foto1 {
    width: 1550px;
    height: 800px;
}
#barra {
    background-color: #FFCE00;
    padding: 8px;
}
#barra2 {
    background-color: #FFCE00;
    padding: 31px;
}
#barra3 {
    background-color: #FFCE00;
    padding: 29px;
}